<!DOCTYPE html>
<html>
  <head>
    <title>ROR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  	<a href='/'>home</a>
	  	<a href='/about'>about</a>
	  	<a href='/contacts'>contacts</a>
	  	<a href='/bbs'>bbs</a>
		<%= yield %>
  </body>
</html>
